:root{

  --color-primary : #27AE60;
  --color-primary-50:#93D7AF;
  --color-secundary:#EB5757;

  --color-gray-100:#333333;
  --color-gray-50:#828282;
  --color-gray-20:#E0E0E0;
  --color-gray-0:#F5F5F5;

  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  --font-title-1: 28px;
  --font-title-2: 22px;
  --font-title-3: 18px;
  --font-title-4: 14px;

  --font-text-1: 16px;
  --font-text-2:14px;
  --font-text-3:12px;
}

.App-header {
  background-color: var(--color-gray-0);
  padding: 15px;
}

.header-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.header-nav div input {
  margin-left: 5px;
}
.header-nav div button {
  margin-right: 5px;
}

.Main-page {
  

  padding: 15px;
}

.Container-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 769px) {

  .App-header {
    display: flex;
    justify-content: center;
  }

  .header-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    width: 90%;

    gap: unset;
  }

  .header-nav div  {
    width: unset;
  }
  
  .header-nav div input {
    margin-left: 5px;
  }
  .header-nav div button {
    margin-right: 5px;
  }

  .Main-page {
    display: flex;
    justify-content: center;
  }

  .Container-main {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

}


